/* =============================================================================
   My CSS
   ========================================================================== */


/* ---- base ---- */

html,
body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: NotoSansCJKtc-Medium;
  src: url(../fonts/NotoSansCJKtc-Medium.otf) format("opentype");
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
  margin-top: 50px;
  /* z-index: 1; */
  position: fixed;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  vertical-align: bottom;
  z-index: -1;
}


/* #particles-js {
    width: 100%;
    height: 100%;
    background-color: #474747;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
} */

#particles-js {
  width: 100vw;
  height: 100vh;
  /* height: 100%; */
  background-color: #474747;
  background-image: url('');
  background-size: cover;
  background-position: 50vw 50vh;
  /* background-position: 50% 50%; */
  background-repeat: no-repeat;
}

.carousel-caption {
  /* position:absolute; */
  margin: 0 auto;
  /* font-size: 36px; */
  z-index: 30;
}

a#logo {
  color: #ddd;
  margin-left: 10px;
}

a#logo:hover {
  color: #1081C5;
}


/* 響應式圖片 因為高度 犧牲控制點 0602*/

.container-fluid {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.carousel {
  height: 100vh;
  overflow: hidden;
}

.item img {
  width: 100vw;
  height: 100vh;
}

.carousel-control {
  height: 100vh;
}

.img {
  width: 100vw;
  height: 100vh;
}

.carousel-caption > a {
  color: #fff;
  text-decoration: none;
  width: 300px;
  text-align: center;
  border-bottom: 2px solid #fff;
}

#user_show_name {
  color: #fff;
  font: normal 18px NotoSansCJKtc-Medium;
  text-align: right;
  position: relative;
  top: 10px;
  left: -10px;
}

div.item>div.carousel-caption >a {
  z-index: 99;
  font-family: NotoSansCJKtc-Medium;
  text-align: center;
  position: fixed;
  right: 15%;
  left: 15%;
  top: 400px;
  font-size: 48px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.tip {
  z-index: 98;
  font-family: NotoSansCJKtc-Medium;
  position: fixed;
  left: 0%;
  right: 28%;
  top: 440px;
  cursor: default;
  font-size: 14px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  /* Chrome, Safari, Opera */
  -webkit-animation-name: tipanimate;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  /* Standard syntax */
  animation-name: tipanimate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes tipanimate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Standard syntax */

@keyframes tipanimate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.contentissue,
.contentbrand {
  z-index: 99;
  font-family: NotoSansCJKtc-Medium;
  position: fixed;
  left: 15%;
  right: 15%;
  top: 480px;
  cursor: default;
  font-size: 18px;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  display: none;
}

.navbar-inverse {
  box-shadow: 0px 1px 50px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 1px 50px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 1px 50px 1px rgba(255, 255, 255, 0.5);
}

.navbar-nav>li>a {
  margin-right: 30px;
  font-size: 16px;
  color: #ccc;
}

div#wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0.5;
  display: none;
  z-index: 995;
}

#formlogin {
  position: absolute;
  margin: 0 auto;
  top: 20%;
  left: 35%;
  padding: 50px;
  padding-bottom: 125px;
  text-align: center;
  background-color: #fcfcfc;
  display: none;
  z-index: 999;
}

#animatecontent {
  position: absolute;
  margin-top: 100px;
  color: #fff;
  font-size: 18px;
  left: 10.6%;
  right: 50%;
  z-index: 995;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  letter-spacing: 2px;
}

#animatecontent h3{
  line-height:0px;
}

#animatealert {
  position: absolute;
  margin-top: 40%;
  color: #fff;
  letter-spacing: 5px;
  font-size: 16px;
  right: 10%;
  z-index: 999;
  display: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

#login , #logout{
    display:none;
}
