/* dashboard section */
#iframe {
    padding-right: 0px!important;
    padding-left: 3px!important;
}

#dashboard_area_leoKK {
    width: 100%;
    height: 600px;
    margin-top: 130px;
    margin-bottom: 20px;
    padding-left: 20px;
}

#dashboard_area_leoKK .col-sm-4.col-md-4.col-lg-4,
.col-sm-7.col-md-7.col-lg-7,
.col-sm-5.col-md-5.col-lg-5 {
    padding-right: 5px;
    padding-left: 5px;
}

#focus,
#post,
#author,
#KOL,
#warningLight,
#interactive,
#hot,
#goodFeel_growth,
#social_affect,
#spread_level,
#hot_channel,
#relation_issue {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 2px 4px 6px 1px rgba(100, 100, 100, .7);
    -webkit-box-shadow: 2px 4px 6px 1px rgba(100, 100, 100, .7);
    -moz-box-shadow: 2px 4px 6px 1px rgba(100, 100, 100, .7);
}

.focus_chart_title,
.spread_level_title_vr,
.post_chart_title,
.interactive_title,
.hot_title,
.author_chart_title,
.goodFeel_growth_title,
.hot_channel_title,
.relation_issue_title,
.KOL_title,
.social_affect_title,
.warningLight_title {
    display: inline-block;
    border-bottom: 1px solid #555;
}

#focus {
    width: 100%;
    height: 130px;
}

#post {
    width: 100%;
    height: 130px;
}

#author {
    width: 100%;
    height: 130px;
}

#KOL {
    width: 100%;
    height: 235px;
}

#warningLight {
    width: 100%;
    height: 235px;
}

#interactive {
    width: 100%;
    height: 245px;
}

#hot {
    width: 100%;
    height: 245px;
}

#goodFeel_growth {
    width: 100%;
    height: 245px;
}

#social_affect {
    width: 100%;
    height: 235px;
}

#spread_level {
    width: 100%;
    height: 500px;
}

#hot_channel {
    width: 100%;
    height: 245px;
}

#relation_issue {
    width: 100%;
    height: 235px;
}

#relation_issue_chart1,#relation_issue_chart2  {
    width: 50%;
    float: left;
}

#relation_issue_chart1{
     border-right: 1px solid #ccc;
     /* padding: 5px; */
     /* margin-right: 5px; */
}

span.maintitle {
    font-size: 24px;
    color: #555;
    margin-left: 10px;
    margin-right: 10px;
}

.subtitle {
    color: #ccc;
    margin-right: 10px;
}

#focus_level {
    text-align: center;
}

.focus_chart_body div,.post_chart_body div,.author_chart_body div {
    display: inline-block;
}

.sub_chart1-1-all {
    margin-right: 10%;
}

#author div img {
    width: 75px;
    margin: 5px 20px;
}

div#focus_level,
div#post_vol_KK,
div#author_num_QK{
    font-size: 24px;
    color: #f00;
}

.KOL_body {
    height: 200px;
}

.interactive_body {
    height: 200px;
}

.social_affect_body {
    height: 180px;
}

.sub_relation_issue_body {
    height: 185px;
}

.goodFeel_growth_body {
    height: 200px;
}

.hot_channel_body {
    height: 150px;
}

.hot_body {
    height: 200px;
}

.warningLight_body {
    height: 190px;
}

.sub_spread_level_boday_vr {
    height: 225px;
}

.hot_channel_day {
    width: 75%;
    margin:0 auto;
    margin-top: 30px;
}

span#thisweek {
    float: right;
}

#coltitle {
    text-align: center;
    margin-bottom: 10px;
    color: #555;
}

#coltitle h1 {
    margin: 10px auto;
    width: 20%;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
}
