/*=========== For all evils_chart ================*/
.evils_chart{
	width:100%;
	/*height:500px;
	margin:10px 5px 10px 0px; */
	display:none;
}

.evil_chart_name{
	text-align:center;
	font-size:24px;
	margin-top:-10px;

    /*margin-top: 20px;*/
}

span.close_arti {
    position: fixed;
    top: 65px;
    right: 20px;
}

hr {
	border-width:5px;
	width:95%;
	height:0px;
	border-color:#eee;
	border-radius:20px;
}

.castle_in_the_sky{
	position: fixed!important;
    top: 51px!important;
    border: 5px solid #333;
    position: absolute;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
    /* text-align:center; */
    float: left;
    width: 100%;
    height: 94%;
    overflow-y: scroll;
    display: none;
    z-index: 1040;
    cursor: pointer;

	/*border:5px solid #333;
	position:absolute;
	background-color:#000;
	color:#fff;
	opacity:0.8;
	float:left;
	width:100%;
	height:400px;
	overflow-y:scroll;
	display:none;*/
}

table{
	width:100%;
}

.thead{
	font-size: 14px;
	background-color: steelblue;
	color: #fff;
}
.thcell{
	padding:5px;
    padding-left: 8px;
	/* text-align:center; */
}

.tdcell{
	padding:8px;
	/* text-align:center; */
	overflow: hidden;
    text-overflow: ellipsis;

}

th:first-of-type {
    padding-left:15px;
}

td:first-of-type {
    padding-left:15px;
}

.search_keyword_goshbutton{
	cursor : pointer;
}

.emotiom_light{
    width:30px;
    margin-left:5px;
}

.close_arti{
    position: fixed;
    border-right: 0px solid #fff;
    left: 96%;
    top: 117px;
    cursor:pointer;
}
/*=========== Lucifer_pride_chart ================*/
.Lucifer_pride_chart{
	height:505px;
}

#Lucifer_pk_arena{
	width:17%;
	height:500px;
	margin-top: -35px;
    margin-left: 10px;
	float:left;
}

#Lucifer_cross_plot{
	width:80%;
	height : 500px;
	float:left;
}

#Lucifer_pride_little_icons{
	position: relative;
    left: -35px;

}

#Lucifer_pride_little_icons *{
	position: relative;
}

#Lucifer_pride_little_icons img{
	width : 65px;
}

#Lucifer_pride_little_icons span{
	font-size: 16px;
}

#Lucifer_pride_little_icons > div, #Lucifer_pride_little_icons > span {
	float:left;
	position:relative;
	opacity: 0.6;
}

#Lucifer_pride_little_icons .L_Enemy{
    top: -400px;
    left: 420px;
    z-index:-2;
}


#Lucifer_pride_little_icons .L_Enemy >span{
	top: 50px;
    left: -115px;
}

#Lucifer_pride_little_icons .L_King{
    top: -400px;
    left: 300px;
    z-index:-2;
}

#Lucifer_pride_little_icons .L_King >span{
	top: 50px;
    left: -115px;
}

#Lucifer_pride_little_icons .L_Ally{
    top: -220px;
    left: 535px;
    z-index:-2;
}

#Lucifer_pride_little_icons .L_Ally >span{
    top: 51px;
    left: -115px;
}

#Lucifer_pride_little_icons .L_Loser{
    top: -220px;
    left: -275px;
    z-index:-2;
}

#Lucifer_pride_little_icons .L_Loser >span{
    top: 50px;
    left: -120px;
}

.drag_and_drop_QQ{
	border:2px solid rgba(255,0,0,1);
	border-radius:25px;
	text-align:center;
	line-height:45px;
	font-size:30px;
	color:#aaa;
	width:30px;
	height:30px;
	cursor:move;
	transition: color 0.3s;
}

.drag_and_drop_QQ:hover{
	color:#000;
}

.come_back_place{
	width:30px;
	height:30px;
	border-radius:25px;
	border:1px solid #ccc;
	float:left;
	margin : 0px 0px 10px 20px;
}

.come_back_place_word_description{
	float: left;
    text-align: center;
    width: 65%;
    height: 30px;
    line-height:30px;
    font-size: 18px;
}

#bench_warmer{
	/* width:25%; */
	height:55px;
}
#main_character{
	border:2px solid #bbb;
	width:51px;
	height:51px;
	border-radius:30px;
	margin-left : 30%;
}

/*=========== Leviathan_envy_chart ================*/

.Leviathan_envy_chart{
	height:1630px;
}

#Leviathan_brands_select{
	margin-left:40px;
}

#Leviathan_straight_plot{
	width:100% ;
	height: 500px;
}

#Leviathan_horizontal_plot{
	width:100% ;
	height: 500px;
}

#Leviathan_circle_plot{
	width:100%;
	height: 500px;
}


/*=========== Samael_wrath_chart ================*/
.Samael_wrath_chart{
	/* border: 2px solid #0c0; */
	height: 1025px;
}

#Samael_line_plot {
	width : 100%;
	height : 500px;
    margin-top: -45px;
}

#Samael_table_list_fuck_QQQQ{
	border:1px solid #bbb;
	overflow-y:scroll;
	height:380px;
}

.Samael_table_list_sorting{
	border:1px solid #ddd;
	background-color: steelblue;
	border-top-left-radius : 10px;
	border-top-right-radius : 10px;
	color:#aaa;
	padding:5px 10px;
	list-style:none;
	cursor : pointer;
	position :relative;
	float:left;
	transition:color 0.3s;
	display:none;
}

.Samael_table_list_sorting:hover{
	color:#fff;
}

.Samael_table_list_sorting img{
	width:20px;
	height:20px;

}

.Samael_I_was_been_clicked{
	border-bottom : 2px solid steelblue;
	background-color:steelblue;
	color:#fff;
	margin-bottom:-2px;
}

.Samael_wrath_vol_chosen_icons{
    position: relative;
    width: 32%;
    top: 0px;
    left: 44px;
    z-index: 10;
}
.Samael_wrath_vol_chosen_icons input {
	width:30px;
}

.Samael_wrath_search_word{
	position: relative;
    top: -14px;
    left: 46px;
}



/*=========== Belphegor_sloth_chart ================*/

.Belphegor_sloth_chart{
	/* border : 2px solid #A6C; */
	height: 970px;

}

#Belphegor_Iron_Man_plot{
	width:100%;
	height:500px;
	border-bottom: 5px solid #eee;
	margin-top: -32px;
}

#Belphegor_Captain_American_plot{
	width:100%;
	height:450px;
}

.Belphegor_sloth_search_word{
	position : relative;
	top:10px;
	left: 46px;
    z-index: 5;
}

.sort_field{
	float:left;
	border-right:2px solid #666;
	color : #888;
	position: relative;
	top: 10px;
	padding-right:10px;
	cursor:pointer;
	transition: color 0.2s;
}

#Jeff_sheng img {
	/* width:20px; */
	height:20px;
	opacity:0.8;
}

/* #Jeff_sheng img :hover{
	opacity:0.8;
}
 */
.sort_field:hover{
	color:#fff;
}

.sort_u_got_this{
	color:#fff;
}


#Jeff_sheng tr:not(.thead):hover{
	background-color: #fff;
	color:#000;
}

.sort_field_gosh_emo{
	float:left;
	position:relative;
	top:10px;
	color : #888;
	padding-right:10px;
	border-right:2px solid #666;
	cursor:pointer;
	transition : color 0.2s;
}

.sort_field_gosh_emo:hover{
	color:#fff;
}

.sort_u_r_angry{
	color:#fff;
}

/*=========== Mammon_greed_chart ================*/
.Mammon_greed_chart{
	/* border : 2px solid #f00; */
	height: 750px;
}

 /* for d3 circle chart. */


text.parent {
	fill: #1f77b4;
}

text {
	font-family:NotoSansCJKtc-Medium;
	font-size: 12px;
	/* pointer-events: none ; */
}
text.child{
	cursor:pointer;
}
circle {
	fill: #ccc;
	stroke: #999;
	pointer-events: all;
}

circle.parent {
	fill: #1f77b4;
	fill-opacity: .1;
	stroke: steelblue;
}

circle.parent:hover {
	stroke: #ff7f0e;
	stroke-width: .5px;
}

circle.child {
	pointer-events: none;
}

div.M_tooltip {
    position: absolute;
    text-align: center;
	color : #fff;
    width: 100px;
    height: 40px;
    padding: 2px;
    /* font: 12px sans-serif;		 */
    /* background: lightsteelblue;	 */
    background-color: #000;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.Mammon_symbol_word:hover{
	color:#fa0;
	box-shadow: 1px 1px 1px #888;
}

.Mammon_symbol_score{
	display:none;
}

#Mammon_sorting_block hr{
	margin:5px 0px;
	height:2px;
	color : #888;
}

#got_u_title{
	font-size:20px;
    text-align:center;
}

#Fracius_fortune_teller{
	z-index:100;
}

#Fracius_fortune_teller  tr:not(.thead):hover{
	background-color: #fff;
	color:#000;
}


#Fracius_for_sort img {
	width:20px;
	height:20px;
	opacity:0.8;
}

/*=========== Beelzebub_gluttony_chart ================*/

.Beelzebub_gluttony_chart{
	/* border:2px solid #fa0; */
	height:950px;

}

.Beelzebub_gluttony_plot_part1{
	/* border-bottom : 5px solid #eee; */
	height:505px;
}

#Beelzebub_radar_plot{
	width:33%;
	height:480px;
	float:left;
}

#Beelzebub_division_line{
	float: left;
    height: 430px;
    border: 1px solid #bbb;
    margin: 10px 10px;
}

#Beelzebub_pk_arena{
	float:left;
	height:490px;
	width:64%;
}

#Beelzebub_2axis_plot{
	height: 500px;
    margin-top: -30px;
	padding:0px 20px;
}

#Beelzebub_pk_title{
	text-align: center;
    font-size: 24px;
    margin-top: -3px;
}

#Beelzebub_pk_axsis_X{
	position: relative;
    width: 130px;
    top: -65px;
    left: 80%;
}
#Beelzebub_pk_axsis_Y{
	width: 130px;
    position: relative;
    top: -485px;
    /* top: -85px; */
}

#Beelzebub_multi_bar_plot{
	/*,#Beelzebub_multi_bar_plot2  {*/
    /* border:1px solid #f00; */
    width: 100%;
    height: 600px;
}

/*=========== Asmodeus_lust_chart ================*/
.Asmodeus_lust_chart{
	/* border:2px solid #2200AA; */
	height : 565px;
}

.Asmodeus_lust_chart img {
	width:25px;
	height:25px;
	margin-left:3px;
	/* transform:rotate(0deg) translateY(-10px); */
	transform:rotate(0deg) translateY(-5px);
}


.Asmodeus_lust_chart th{
	font-weight:500;
	text-align:center;
	height:30px;
}
.Asmodeus_lust_chart tr:not(.thead):hover{
	background-color:rgba(255,170,14,0.2);
}

.Asmodeus_lust_chart td{
	border:1px solid #bbb;
	font-size:22px;
	height:50px;
	text-align:center;
}
